:root {
  --max-width: 450px;
  --border-radius: 10px;
  --main-color: rgb(86, 86, 213);
  --button-color: rgb(240, 240, 240);
  --light-background: white;
  --dark-background: rgb(16, 23, 76);
  --light-font-color: black;
  --dark-font-color: white;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: auto;
  padding: env(safe-area-inset);
  box-sizing: border-box;
}

html,
body {
  max-width: var(--max-width);
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: white;
}