:root {
  --max-width: 450px;
  --border-radius: 10px;
  --main-color: rgb(86, 86, 213);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: white;
}