.plantDetail {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  padding: 12.5px 15px;
  gap: 10px;
  position: fixed;
  top: 60px;
  left: 100%;
  transition: transform 0.3s ease-in-out;
  z-index: 500;
  background-color: white;
  height: 100%;
  max-height: calc(100% - 60px);
  overflow-y: scroll;
  overflow-x: hidden;
  padding-bottom: 10px;
}

.plantDetail.plantDetailOpen {
  transition: transform 0.3s ease-in-out;
  transform: translateX(-100%);
}

.photoBox {
  aspect-ratio: 16/9;
  max-width: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.transect {
  align-self: center;
}

.plantDetail hr {
  max-width: 100%;
  border: 1px solid var(--main-color);
}

/* .description {

} */

.learnMore {
  text-decoration: none;
  color: var(--main-color);
  border-radius: var(--border-radius);
  background-color: rgb(240, 240, 240);
  width: fit-content;
  padding: 5px 10px;
  align-self: center;
}
